---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("homepage", "index");
const { banner, services } = homepage.data;

type Banner = {
  title: string;
  content: string;
  images: string[]; // Asegúrate de que sea un array de strings
};

const bannerData: Banner = banner;
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-bold">{bannerData?.title}</h1>
          {
            bannerData?.content && (
              <p
                class="mt-4 text-base"
                set:html={markdownify(bannerData.content)}
              />
            )
          }

{ bannerData?.images && bannerData.images.length > 1 ? (
  // Carrusel si hay más de una imagen
  <div class="swiper mt-8"> <!-- 👈 le agregamos mt-8 -->
    <div class="swiper-wrapper">
      {bannerData.images.map((image: string) => (
        <div class="swiper-slide flex items-center justify-center h-[390px]">
          <Image
            class="mx-auto h-[390px] w-[750px] object-cover"
            src={image}
            width={750}
            height={390}
            alt="banner image"
          />
        </div>
      ))}
    </div>
    <div class="pagination" />
  </div>
) : (
  // Imagen estática si solo hay una imagen
  <Image
    class="mx-auto mt-8 h-[390px] w-[750px] object-cover"
    src={bannerData?.images[0]}
    width={750}
    height={390}
    alt="banner image"
  />
)}

        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  {
    services!.map((service: any, index: number) => {
      const isOdd = index % 2 > 0;
      return (
        <section class={`section ${isOdd && "bg-theme-light"}`}>
          <div class="container">
            <div class="items-center gap-8 md:grid md:grid-cols-2">
              <div class={`service-carousel ${!isOdd && "md:order-2"}`}>
                {service!.images!.length > 1 ? (
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      {service!.images?.map((image: string) => (
                        <div class="swiper-slide">
                          <Image
                            class="mx-auto"
                            src={image}
                            width={538}
                            height={328}
                            alt="service image"
                          />
                        </div>
                      ))}
                    </div>
                    <div class="pagination" />
                  </div>
                ) : (
                  <Image
                    class="mx-auto"
                    src={service!.images![0]}
                    width={538}
                    height={328}
                    alt="service image"
                  />
                )}
              </div>

              {/* Content */}
              <div
                class={`service-content mt-5 md:mt-0 ${!isOdd && "md:order-1"}`}
              >
                <h2 class="text-2xl md:text-3xl font-bold">{service.title}</h2>
                <p class="mt-4 mb-2">{service?.content}</p>
                {service?.button?.enable && (
                  <a
                    href={service?.button.link}
                    class="cta-link inline-flex items-center text-primary"
                  >
                    {service?.button.label}
                    <img
                      class="ml-1"
                      src="/images/arrow-right.svg"
                      width={18}
                      height={14}
                      alt="arrow"
                    />
                  </a>
                )}
              </div>
            </div>
          </div>
        </section>
      );
    })
  }

  <script>
    import { Swiper } from "swiper";
    import "swiper/css";
    import "swiper/css/pagination";
    import { Autoplay, Pagination } from "swiper/modules";

    // astro:page-load event is fired when the page is loaded
    document.addEventListener("astro:page-load", () => {
      new Swiper(".service-carousel .swiper", {
        modules: [Pagination, Autoplay],
        autoplay: {
          delay: 3000,
        },
        pagination: {
          type: "bullets",
          el: ".service-carousel .pagination",
          clickable: true,
        },
      });

      // Carrusel para el banner si hay más de una imagen
      if (document.querySelector(".swiper-wrapper")) {
        new Swiper(".swiper", {
          modules: [Pagination, Autoplay],
          autoplay: {
            delay: 3000,
          },
          pagination: {
            type: "bullets",
            el: ".swiper .pagination",
            clickable: true,
          },
        });
      }
    });
  </script>
</Base>
